@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
.main-div {
  // height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to left bottom,
    #3c3c83,
    #5a3b87,
    #763788,
    #903284,
    #a82c7d
  );
  .navbar {
    padding: 10px;
    // border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    .Nav-links {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .Home-button {
        background-color: #ee5644;
        width: 20%;
        border-radius: 20px;
        color: white;
        border: 1px solid black;
      }
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    .banner-img {
      width: 50%;
      border: 2px solid black;
      border-radius: 10px;
      margin-top: 2rem;
      box-shadow: 5px 10px 20px #9d64a9;
    }
    h1 {
      font-size: 80px;
    }
    p {
      font-weight: 300;
    }
    .content-button {
      background-color: #ee5644;
      color: white;
      margin: 40px;
    }
  }
  footer {
    margin-top: 20px;
    border-top: 2px solid black;
  }
  @media (max-width: 630px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      .Nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5%;
      }
    }
    .main-content h1 {
      font-size: 50px;
    }
  }
  @media (max-width: 400px) {
    .navbar {
      img {
        width: 200px;
      }
    }
    .main-content h1 {
      font-size: 30px;
    }
  }
}
