@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

.main-div {
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    .Nav-links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      button {
        padding: 20px;
        border-radius: 50px;
      }
      .Home-button {
        background-color: #35b0a6;
        width: 25%;
        border-radius: 50px;
        color: white;
        padding: 20px;
        border: 1px solid black;
      }
    }
  }
  .main-content {
    background-image: url("https://www.raweng.com/v3/assets/bltaacb6b0c9b693c2d/blt573767a4004d6b02/5e3138cb5b0dbe756af01636/DevOps_&_Cloud_Management_resized.png?format=pjpg&width=590");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    padding: 10%;
    h1 {
      font-size: 80px;
    }
  }
  footer {
    background-color: black;
  }
  @media (max-width: 530px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      .Nav-links {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .Home-button {
          width: 100%;
        }
        button {
          width: 100%;
        }
      }
    }
    .main-content h1 {
      font-size: 50px;
    }
  }
  @media (max-width: 300px) {
    .main-content h1 {
      font-size: 30px;
    }
  }
}
