@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
.navbar {
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  .Nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .Home-button {
      background-color: #2bcade;
      width: 20%;
      border-radius: 20px;
      border: 1px solid black;
    }
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.assetsdelivery.com/compings_v2/olgaivolga/olgaivolga1512/olgaivolga151200160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  padding: 5% 0;
  h1 {
    font-size: 50px;
  }
  p {
    width: 80%;
    text-align: center;
  }
  .banner-img {
    width: 50%;
    border-radius: 20px;
  }
  .content-button {
    margin: 2%;
    background-color: #55b3b1;
  }
}


